version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      DEBUG_PORT: "*:8787"
    ports:
      - "8080:8080"
      - 8787:8787
    command: --debug start-dev --log-level="DEBUG"
    volumes:
      # Mount the JAR directly from target folder
      - ./target/com.identityfirst.keycloak-selector-0.0.1.jar:/opt/keycloak/providers/com.identityfirst.keycloak-selector-0.0.1.jar:ro
